header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .logo {
    width: 4.75rem;
  }
  & .links {
    display: flex;
  }
  & .auth-button {
    display: flex;
  }
  & nav {
    display: flex;
  }
}
